body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #0e0e0e;
    text-align: center;
    margin-top: 15%;
    font-size: 16px;

}

img {
    transition: .4s;
    transform: scale(0.8);
}

img:hover {
    transform: scale(1);
}

.title {
    font-size: 30px;
    color: #05a26d;
    padding: 0;
    margin: 0;
}

.sub-title {
    font-size: 18px;
    margin: 0;
    color: #808080;
}

.list {
    margin: 0;
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.list li {
    display: inline;
}

.list li a {
    padding: 6px 15px;
    background: #ffffff;
    text-decoration: none;
    display: inline-table;
    border-radius: 15px;
    font-size: 14px;
    color: #ffffff;
    width: 80px;
    margin-bottom: 5px;
    color: #ffffff;
    transition: .3s;
}

.list li a.git {
    background: none;
    border: 1px solid #007fb7;
    color: #00b1ff
}

.list li a.site {
    background: none;
    border: 1px solid #9400ff;
    color: #9400ff
}

.list li a.docs {
    background: none;
    border: 1px solid #ff0050;
    color: #ff0050
}

.list li a.git:hover {
    background: #00b1ff;
    color: #ffffff
}

.list li a.site:hover {
    background: #9400ff;
    color: #ffffff
}

.list li a.docs:hover {
    background: #ff0050;
    color: #ffffff
}


.panel {
    background: #000000;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background: #141212;
    background: -moz-linear-gradient(top,  #141212 0%, #000000 100%);
    background: -webkit-linear-gradient(top,  #141212 0%,#000000 100%);
    background: linear-gradient(to bottom,  #141212 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141212', endColorstr='#000000',GradientType=0 );
}

.panel .panel-header {
    text-align: left;
    padding: 3px 5px;
    background: #252525;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4c4c4c;
    background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: linear-gradient(135deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
}

.panel .panel-content {
    padding: 50px 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.panel .panel-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel .panel-header ul li {
    display: inline-table;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 100%;
    margin-right: 3px;
}

.panel .panel-header ul li.red {
    background: #ff3e5d;
}

.panel .panel-header ul li.yellow {
    background: #f09021;
}

.panel .panel-header ul li.green {
    background: #3ebd24;
}


.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #888888;
    margin-bottom: 5px;
}


@media (max-width: 1920px) {
    .panel {
        width: 40%
    }
}

@media (max-width: 1600px) {
    .panel {
        width: 60%
    }
}

@media (max-width: 1024px) {
    .panel {
        width: 80%
    }
}

@media (max-width: 575px) {
    .panel {
        width: 95%
    }
}